
registry=https://pkgs.dev.azure.com/webimrd/WeBIM_Artifact_Test/_packaging/panorama-map/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/webimrd/WeBIM_Artifact_Test/_packaging/panorama-map/npm/registry/:username=webimrd
//pkgs.dev.azure.com/webimrd/WeBIM_Artifact_Test/_packaging/panorama-map/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/webimrd/WeBIM_Artifact_Test/_packaging/panorama-map/npm/:username=webimrd
//pkgs.dev.azure.com/webimrd/WeBIM_Artifact_Test/_packaging/panorama-map/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
